.checkout-container {
    max-width: 1536px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    margin-left: auto;
    margin-right: auto;
}

.checkout-full-content {
    display: flex;
    max-width: 1280px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
}

.checkout-left-side {
    width: 60%;
    order: 1;
    flex-direction: column;
    height: 100%;
    display: flex;
}

.checkout-right-side {
    width: 40%;
    margin-left: 3.5rem;
    order: 2;
    position: sticky;
    flex-direction: column;
    height: 100%;
    display: flex;
    top: 7rem
}

.checkout-container .left-content {
    margin-top: 0;

}

.checkout-personal-details {
    color: rgb(55 65 81/1);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: Inter, sans-serif;
    padding-bottom: 0.75rem;
    margin: 0;
}

.checkout-container .personal-content {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.5rem;
}

.checkout-container .personal-input {
    grid-column: span 3/span 3;
}

.checkout-container .personal-input-street {
    grid-column: span 6/span 6;
}

.personal-input-city {
    grid-column: span 2/span 2;
}

.checkout-container .personal-content label {
    color: rgb(107 114 128/1);
    line-height: 1;
    font-weight: 500;
    font-size: .875rem;
    display: block;
    margin-bottom: 0.5rem;
}

.personal-input .personal-relative {
    position: relative;
}

.personal-relative input {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: 3rem;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
    opacity: .75;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background: rgb(255 255 255/1);
    border-width: 1px;
    border-radius: 0.375rem;
    appearance: none;
    width: 100%;

}

.shipping-method {
    padding: 0.75rem;
    background-color: rgb(255 255 255/1);
    border-color: rgb(229 231 235/1);
    border-width: 1px;
    border-radius: 0.375rem;

}

.shipping-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shipping-content .ship {
    color: rgb(156 163 175/1);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-right: 0.75rem;
}

.shipping-method-title {
    color: rgb(75 85 99/1);
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: Inter, sans-serif;
    margin: 0;
}

.shipping-radio {
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: rgb(16 185 129/1);
    border-radius: 100%;
}

.shipping-method label {
    cursor: pointer;
}

.checkout-button-group {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.checkout-button-link {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    color: rgb(55 65 81/1);
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: Inter, sans-serif;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgb(238 242 255/1);
    border-color: rgb(224 231 255/1);
    border-width: 1px;
    border-radius: 0.25rem;
    justify-content: center;
    width: 100%;
    display: flex;
    text-decoration: none;
}

.checkout-button-link span {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-right: 0.5rem;
}

.confirm-order-button {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    color: white;
    font-weight: 500;
    font-size: .875;
    line-height: 1.25rem;
    font-family: Inter, sans-serif;
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgb(16 185 129/1);
    border-color: rgb(16 185 129/1);
    border-width: 1px;
    border-radius: 0.25rem;
    justify-content: center;
    width: 100%;
    cursor: default;
    display: flex;
}

.order-summery-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    order: 2;
    background-color: rgb(255 255 255/1);
    border-width: 1px;
    border-radius: 0.5rem;
}

.order-summery-title {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-family: Inter, sans-serif;
    padding-bottom: 1rem;
    margin: 0;
}

.order-items-container {
    background-color: rgb(249 250 251/1);
    overflow-y: scroll;
    width: 100%;
    max-height: 16rem;
    display: block;
}

.order-items-container .order-items {
    text-align: center;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.order-items span {
    color: rgb(107 114 128/1);
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.5rem;
    justify-content: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.no-items-text {
    color: rgb(75 85 99/1);
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    font-family: Inter, sans-serif;
    padding-top: 0.5rem;
    margin: 0;
}

.coupon-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.coupon-content {
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    display: flex;
}

.coupon-content input {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: rgb(255 255 255/1);
    border-color: rgb(229 231 235/1);
    border-width: 1px;
    border-radius: 0.375rem;
    appearance: none;
    height: 3rem;
}

.coupon-content button {
    display: inline-flex;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0.75rem;
    margin-top: 0;
    width: auto;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .3s;
    font-weight: 600;
    text-align: center;
    border-color: rgb(229 231 235/1);
    border-width: 1px;
    border-radius: 0.375rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 3rem;
}

.checkout-subtotal {
    color: rgb(107 114 128/1);
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    width: 100%;
    display: flex;
}

.checkout-subtotal-discount {
    color: rgb(107 114 128/1);
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    width: 100%;
    display: flex;
}

.checkout-subtotal span {
    color: rgb(31 41 55/1);
    font-weight: 700;
    flex-shrink: 0;
    margin-left: auto;
}

.checkout-subtotal-discount span {
    font-weight: 700;
    flex-shrink: 0;
    margin-left: auto;
    color: rgb(251 146 60/1);
}


/* right part order summary  */

.order-product-container {
    background-color: rgb(249 250 251/1);
    overflow-y: auto;
    flex-grow: 1;
    width: 100%;
    max-height: 16rem;
    display: block;
}

.order-product-container .main-product-div {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .15s;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: rgb(255 255 255/1);
    border-color: rgb(243 244 246/1);
    border-bottom-width: 1px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
}

.main-product-div .checkout-product {
    box-shadow: 0 0 #0000, 0 0 #0000, var0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, .05);
    border-color: rgb(243 244 246/1);
    border-width: 1px;
    border-radius: 9999px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    margin-right: 1rem;
    position: relative;
}

.checkout-product img {
    max-width: 100%;
    height: auto;
}

.checkout-product-content {
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    display: flex;

}

.checkout-product-link-button {
    color: rgb(55 65 81/1);
    font-weight: 500;
    font-size: .875rem;
    line-height: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: inherit;
}

.checkout-product-price {
    color: rgb(156 163 175/1);
    font-size: .75rem;
    line-height: 1rem;
    margin-bottom: 0.25rem;
}

.checkout-product-content .main-price {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .checkout-full-content {
        display: flex;
        max-width: 1280px;
        padding-top: 3rem;
        padding-bottom: 3rem;
        width: 100%;
    }

}

@media screen and (max-width: 768px) {
    .checkout-container {
        padding-bottom: 5rem;
    }

    .checkout-container .personal-input {
        grid-column: span 6/span 6;
    }

    .checkout-full-content {
        flex-direction: column;
    }

    .checkout-left-side {
        width: 100%;
        order: 2;
        margin-top: 3rem;
    }

    .checkout-right-side {
        width: 100%;
        order: 1;
        position: initial;
        margin-left: auto;
    }


}