.contact-container {
  background-color: white;
}

.contact-content-hd {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
}

.contact-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;

}

.contact-card {
  text-align: center;
  padding: 2.5rem;
  border: 0 solid #e5e7eb;
  border-width: 1px;
  border-radius: 0.5rem;
}

.contact-card .logo {
  color: rgb(16 185 129/1);
  font-size: 2.25rem;
  line-height: 2.5rem;
  justify-content: center;
  display: flex;
  margin-bottom: 1rem;
}

.contact-card h5 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;

}

.contact-card p {
  opacity: .9;
  line-height: 1.75rem;
  font-size: 1rem;
  margin-bottom: 0;
}

.contact-card p span {
  color: rgb(16 185 129/1)
}



@media screen and (max-width: 682px) {
  .contact-content-hd {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .contact-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;

  }
}