.gallery-show {
}
.product-link {
  text-decoration: none !important;

  color: black !important;
}
picture img {
  transition: all 0.5s ease;
}
picture img:hover {
  transform: scale(1.1) !important;
  transition: all 0.5s ease;
}

.main-gallery {
  display: flex;

  justify-content: center;
  flex-wrap: wrap;
}
.gallery-container {
  margin-left: 30px;
  margin-right: 30px;
  width: 149px;
  height: 180px;
  margin-bottom: 30px;
}


.gallery-img img {
  width: 149px;
  height: 149px;
  
}
.gallery-img img:hover{
  cursor: pointer;
}

.gallery-title {
  text-align: center;
  margin-top: 12px;
}
.gallery-title p {
  font-weight: bold;
  font-size: 15px;
}
.gallery-container a:hover {
  color: black;
}

@media (max-width: 417px) {
  .gallery-container {
    margin-left: 30px;
    margin-right: 30px;
    width: auto;
    height: 180px;
    margin-bottom: 30px;
  }
  .gallery-img img {
    width: 100%;
    height: 149px;
  }
}
