@media (max-width: 991px) {
    .nav-bar {
        display: block;
    }
}

@media (max-width: 385px) {
    .bar {
        margin-left: 5px;
        color: orange;
        font-size: 30px;
    }
}

.header-shipping-country-name:hover {
    cursor: pointer;
    background-color: #ddd;
}

.country-ul-header {
    overflow-y: scroll;
    max-height: 227px;
    max-width: 278px;
    margin-left: -1px;
    margin-top: 5px;
    border-radius: 0px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

@media screen and (max-width: 682px) {

    .search-box-mobile input,
    button {
        height: 40px;
    }

    .search-box-mobile button {
        display: flex;
    }

    .search-box {
        margin-left: 0;
        margin-right: 0;
    }

    .nav-item-mobile {
        text-decoration: none;
        color: black;
        border-top: 1px solid #d0d7de;
        margin-top: 5px;
        font-weight: 600;
        padding: 3px 0px;
    }

    .inner-li {
        margin-left: 0;
        margin-right: 0;
    }

    .language-selector {
        margin-top: -4px;
    }
}


@media (max-width: 767px) {
    .category-sidebar {
        position: fixed;
        top: 58px;
        left: 0;
        bottom: 56px;
        width: 77%;
        background-color: white;
        color: black;
        transform: translateX(-100%);
        transition: left 0.3s ease;
    }

    .close-category-sidebar {
        display: flex;
        justify-content: flex-end;
        position: sticky;
        top: 0px;
    }

    .close-category-sidebar svg {
        position: relative;
        right: 15px;
        top: 15px;
    }

    .category-sidebar .main-ul {
        list-style-type: none;
        padding-left: 5px;
        margin-top: 20px;
        max-height: 392px;
        overflow-y: scroll;
    }

    .category-sidebar .main-li {
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

}



@media screen and (max-width: 1024px) {
    .sub-cate-ul {
        padding-left: 1.5rem;
        padding-bottom: 0.75rem;
        padding-top: 0.25rem;
        margin-top: 0;
    }
    .sub-cate-ul li{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 7px;
    }

    .subCategoryLink {
        display: flex;
        align-items: center;
        font-family: serif;
        padding-top: 0.25rem;
        font-size: 0.875rem;
        color: #4a5568;
        cursor: pointer;
    }

    .sub-cate-text {
        font-size: 0.75rem;
        color: #718096;
        padding-right: 0.5rem;
    }
}