.nav-bar {
    display: none;
}

.bar {
    color: orange;
    font-size: 30px;
    margin-top: 23px;
}

@media (max-width: 991px) {
    .nav-bar {
        display: block;
    }
}

@media (max-width: 385px) {
    .bar {
        margin-left: 5px;
        color: orange;
        font-size: 30px;
        margin-top: 23px;
    }
}