.nav-bar {
    display: none;
}

.bar {
    color: orange;
    font-size: 30px;
    margin-top: 23px;
}

@media (max-width: 991px) {
    .nav-bar {
        display: block;
    }
}

@media (max-width: 385px) {
    .bar {
        margin-left: 5px;
        color: orange;
        font-size: 30px;
        margin-top: 23px;
    }
}

.header-shipping-country-name:hover{
    cursor: pointer;
    background-color: #ddd;
}
.country-ul-header{
    overflow-y: scroll;
    max-height: 227px;
    max-width: 278px;
    margin-left: -1px;
    margin-top: 5px;
    border-radius: 0px;
}
.navbar-toggler:focus {
    box-shadow: none;
}

@media screen and (max-width: 682px) {
    .search-box-mobile input , button {
        height: 40px;
    }
    .search-box-mobile button{
        display: flex;
    }
    .search-box{
        margin-left: 0;
        margin-right: 0;
    }
    .nav-item-mobile{
        text-decoration: none;
        color: black;
        border-top: 1px solid #d0d7de;
        margin-top: 5px;
        font-weight: 600;
        padding: 3px 0px;
    }
    .inner-li{
        margin-left: 0;
        margin-right: 0;
    }
    .language-selector{
        margin-top: -4px;
    }
  }
  