.order-container {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (max-width: 682px) {
    .orders-side-nav {
        display: none;
    }

    .order-container {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

}