/* product description  */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.product-description {
    font-family: 'Lato', sans-serif;
}

.product-description-size:focus {
    box-shadow: none !important;
}

.product-title {
    cursor: pointer;
}



button:focus,
input:focus {
    outline: none;
    box-shadow: none;
}

.product-quantity {
    display: flex;
}

.product-quantity a,
a:hover {
    text-decoration: none;
}

/*--------------------------*/
.product-quantity .qty-container {
    display: flex;
    align-items: center;
}

.product-quantity .qty-container .input-qty {
    padding: 6px 10px;
    border: 1px solid #d4d4d4;
    width: 38px;
}

.product-quantity .qty-container .qty-btn-minus,
.qty-container .qty-btn-plus {
    border: 1px solid #d4d4d4;
    padding: 10px 13px;
    font-size: 10px;
    height: 38px;
    width: 38px;
    transition: 0.3s;
}

.share-buttons {
    display: flex;
    justify-content: center;
}

.share-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #fff;
    background-color: #3b5998;
    /* Facebook blue */
    text-decoration: none;
    font-size: 16px;
}

.share-buttons a:hover {
    opacity: 0.8;
}

.share-buttons a i {
    margin: 0;
}

.share-buttons a:nth-of-type(2) {
    background-color: #1da1f2;
    /* Twitter blue */
}

.share-buttons a:last-of-type {
    background-color: #bd081c;
    /* Pinterest red */
}


.product-description-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 40px;
    background: #fff;
    margin-left: 0px;
    margin-right: 0px;
}

.product-description-container .heading {
    background-color: #fafafa;
    padding: 0px 20px;
    line-height: 52px;
    border-top-left-radius: 10px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


.heading-description {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.product-reviews {
    margin-top: 20px;
}


.product-description {
    padding: 20px;

}

.product-thumbnail-image {
    width: 330px;
    height: 330px;
    display: flex;
    margin: auto;

}

.review-statics .all-ratings-count {
    display: flex;
    justify-content: space-between;
}

.review-container-title {
    margin-top: 10px;
    padding: 0px 20px;
    line-height: 52px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}



.review-like-container {
    display: flex;
    align-items: center;
    gap: 5px;
    user-select: none;
}

.review-replay-form label {
    user-select: none;
}

.review-like-container img {
    opacity: 0.8;
}

.review-like-container img:hover {
    opacity: 1;
    cursor: pointer;
}

/* admin review reply  */

.seller-reply-wrapper {
    position: relative;
    background-color: #f8f8f8;
    padding: 15px 15px 15px 48px;
    margin-top: 20px;
}

.seller-reply-wrapper:before {
    content: " ";
    position: absolute;
    top: -15px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 16px solid #f8f8f8;
}

/* admin review reply end  */

.product-select-color {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.3s;
}

.product-select-color:hover {
    cursor: pointer;
    outline: red;
    transform: scale(1.2);

}

.delivery-info,
.service-info {
    font-size: 14px;
}

#product-tabs {
    border-bottom: none;
}

#product-tabs .nav-item {
    margin-bottom: -1px;
}

#product-tabs .nav-link {
    background-color: #f9f9f9;
    color: #666;
    border: none;
    border-radius: 0;
    font-weight: 600;
}

#product-tabs .nav-link.active {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 0;
}

.review {
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
}

.review-actions span {
    cursor: pointer;
}



.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-header h3 {
    margin: 0;
    font-size: 18px;
}

.review-date {
    font-size: 14px;
    color: #999;
}

.rating {
    display: flex;
    align-items: center;
}

.rating i {
    color: #ffd700;
    margin-right: 5px;
    font-size: 18px;
}

.ratings-texts:hover {
    cursor: pointer;
    color: orange;
}


.fa-star {
    color: #ffd700;
}

.far {
    color: #999;
}

.add-a-review-container input,
textarea:focus {
    box-shadow: none !important;
}

.product-details-information {
    padding-right: 15px;
}

.buy-now-button {
    height: 38px;
    background-color: #1da1f2;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: none;
    outline: none;
}

.desktop-buy-now-button {
    margin-left: 10px;
    display: inline-block !important;
    width: 214px;
    padding: 3px 10px;
    border: none;
    outline: none;
    background-color: #1da1f2;
    color: white;
    display: flex;
    align-items: center;
    height: 38px;
}

.desktop-select-variant {
    display: inline-block !important;
    width: 214px;
    padding: 3px 10px;
    border: none;
    outline: none;
    background-color: rgb(16 185 129/1);
    color: white;
    display: flex;
    align-items: center;
    height: 38px;
    cursor: not-allowed !important;
}

.images-slider:focus-visible {
    -webkit-focus-ring-color: white;
    outline: none !important;
}

.you-may-also-like-loading-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.delevery-service-container .delivery-info {
    padding: 0px 16px 5px 0px;
}

.delevery-service-container .service-info {
    padding: 0px 16px 5px 0px;
    margin-top: 1rem;
}

.review-like-btn:hover {
    cursor: pointer;
}

@media screen and (max-width: 682px) {
    .product-description-container {
        /* margin-left: 10px;
        margin-right: 10px; */
    }

    .margin-mobile-10px-x {
        /* margin-left: 10px;
        margin-right: 10px; */
    }

    .delevery-service-container .delivery-info {
        padding: 16px;
    }

    .delevery-service-container .service-info {
        padding: 16px;
        margin-top: 0;
    }


    .you-may-also-like-loading-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin: 0 10px;
    }

    .product-details-information {
        padding-right: 0px;
        width: 100%;
        padding: 16px;
    }

    .cart-btn-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
    }

    .mobile-add-to-cart-button {
        width: 45%;
        padding: 3px 10px;
        border: none;
        outline: none;
        background-color: orange;
        color: white;
        display: flex;
        align-items: center;
        height: 38px;
    }

    .delevery-service-container {
        width: 100%;
    }


    .mobile-buy-now-button {
        width: 45%;
        padding: 3px 10px;
        border: none;
        outline: none;
        background-color: #1da1f2;
        color: white;
        display: flex;
        align-items: center;
        height: 38px;
    }

    .product-description-container ul {
        padding-left: 1rem;
    }
}

@media screen and (max-width: 375px) {
    .review-statics .all-ratings-count {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

}