.product-question-container {
    padding-bottom: 20px;
    background: #fff;
}

.question-login {
    margin-bottom: 5px;
}

.question-answer-login-btn {
    cursor: pointer;
    color: #faa72c;
}

.product-questions-header {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}


.product-questions {
    padding-left: 20px;
    padding-right: 20px;
}

.product-qna {
    display: flex;
    gap: 20px;
    margin: 7px 0;
}

.product-question {
    border-top: 1px solid #eff0f5;
    padding: 10px 0;
}

.product-question .question-desc {
    color: #9e9e9e;
    font-size: 12px;
}

.question-desc {
    font-size: 12px;
    color: #9e9e9e;
}

.verified-purchage {
    font-size: 12px;
}

.review-card {
    border-top: 1px solid #eff0f5;
}

.review-card .rating-time-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-post-container {
    position: relative;
    margin-bottom: 20px;
}

.question-post-container input {
    border: 1px solid #dadada;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    outline: none;
    width: 100%;
    padding: 10px 10px;
}

.question-post-container button {
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    height: 100%;
    background-color: #faa72c;
    color: white;
    text-decoration: none;
    border-color: transparent;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.qna-text {
    color: red;
    font-size: 14px;
}

.qna-text-review {
    color: black;
    font-size: 14px;
}

.qna-text-reply {
    color: #40c057;
    font-size: 14px;
}

.questions-pagination {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.review-pagination {
    border-top: 1px solid #eff0f5;

}

.review-three-dots {
    position: absolute;
    top: 0;
    right: 0;
}

.review-three-dots:hover {
    cursor: pointer;
}

.question-admin-answer-button {
    cursor: pointer;
    margin-left: 38px;
    margin-bottom: 10px;
}

.question-admin-answer-button:hover {
    color: green;
}

.answer-admin-input {
    margin-left: 38px;
    width: 82% !important;
}

.question-admin-reply-button {
    cursor: pointer;
    margin-left: 38px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    user-select: none;
}

.product-qna-admin-reply {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 682px) {
    .question-post-container input {
        border: 1px solid #dadada;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        outline: none;
        width:100%;
        padding: 10px 10px;
    }

    .question-post-container button {
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        padding: 0 10px;
        height: 100%;
        background-color: #faa72c;
        color: white;
        text-decoration: none;
        border-color: transparent;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }
}