@import './variable.css';


.seller-login-container {
    background-image: url('https://img.freepik.com/free-vector/abstract-orange-background-with-lines-halftone-effect_1017-32107.jpg?w=826&t=st=1693239425~exp=1693240025~hmac=2c292fd0ff158335ce632c4bba51306c1c7d5d3359bd5e2b3e65e5b75f3f78fd');
    background-size: cover;
    background-repeat: no-repeat;
}


.seller-login-btn p {
    font-size: 14px;
    font-weight: 400;
}

.seller-login-btn span {
    color: var(--primary-color);
    cursor: pointer;
    font-weight: 500;
}

.icon-container svg {
    cursor: pointer;
}

.seller-email-blur {
    background-color: rgb(216, 216, 216);
    cursor: not-allowed;
    
}
.change-email{
    position: relative;
}
.change-email p{
    margin-top: 1px;
    font-size: 12px;
    position: absolute;
    right: 0;
    color: red;
    cursor: pointer;
}
.verification-success{
    border: 1px solid var(--primary-color) !important;
}