.signin-container {
  background-color: #23242a;
}

.box {
  position: relative;
  width: 380px;
  height: 460px;
  border-radius: 8px;
  background: #1c1c1c;
  overflow: hidden;
  display: flex;
  margin: auto;
}

.box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #faa11b, #faa11b);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, #faa11b, #faa11b);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.form {
  position: absolute;
  inset: 2px;
  border-radius: 8px;
  background: #28292d;
  z-index: 10;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
}

.form h2 {
  color: #faa72c;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0, 1em;
}

.inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}

.inputBox input {
  position: relative;
  width: 100%;
  padding: 10px 9px 10px;
  background: transparent;
  border: none;
  outline: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  z-index: 10;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 10px 10px 10px;
  font-size: 1em;
  color: #ffffff;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
  color: #45f3ff;
  transform: translateX(0px) translateY(-34px);
  font-size: 0.75em;
}

.inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #faa72c;
  border-radius: 4px;
  transition: 0.5s;
  pointer-events: none;
  z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
  height: 44px;
}

.links {
  display: flex;
  justify-content: space-between;
}

.links a {
  margin: 10px 0;
  font-size: 00.75em;
  color: #ffffff;
  text-decoration: none;
}

.links a:hover,
.links a:nth-child(2) {
  color: #faa72c;
}

input[type="submit"] {
  border: none;
  outline: none;
  background: #faa72c;
  padding: 11px 25px;
  width: 100px;

  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

input[type="submit"]:active {
  opacity: 0.8;
}

.cursor_pointer {
  cursor: pointer;
}

/* .signup-password-show-button {
  position: relative;
  left: 327px;
  bottom: 31px;
  cursor: pointer;
} */
.sign-in-container {
  background-color: #fff;
}

.sign-in-content {
  width: 60%;
  margin: 0 auto;
}

.login-header {
  display: flex;
  justify-content: space-between;
}

.login-header .title-text {
  color: #424242;
}

.form-container {
  display: flex;
  background-color: #eff0f5;
}

.form-container .left-content {
  width: 50%;
  padding: 1.5rem;
}

.left-content .input-email,
.input-password {
  /* w-100 px-2 py-1 */
  width: 100%;
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
  background-color: #eff0f5;
  border-radius: 5px;
}

.google-login-btn {
  margin-top: 1rem;
}

@media screen and (max-width: 682px) {
  .google-login-btn {
    margin-top: 0rem;
  }

  .sign-in-content {
    width: 100%;
    margin: 0 auto;
  }
}